link(rel="stylesheet", href="global.css", data-inline)

div#main
  div#header
    div.title #{app.name}
  div#content
    p.small Email validation
    h1 Hi #{user.firstname},
    p You recently attempted to create an account for #{app.name} with the following email address: #{user.email}.
    p.
    h2 Validate
    p.reason In order to validate your email and proceed to the creation of your account, you must enter the following code (valid 48h):
    p.
    p.code #{token.emailCode}
  div#footer
    p.small-details IP: #{device.ip}
    p.small-details User-Agent: #{device.userAgent}
    