link(rel="stylesheet", href="global.css", data-inline)

div#main
  div#header
    div.title #{app.name}
  div#content
    //-p.small Model Notification
    p #{contentPrefix}
    .key-values
      - for (let property in keyValues)
        .line
          .key #{property}
          .value #{keyValues[property]}
    p #{contentSuffix}
  div#footer
    p.small-details #{date}
    p.small-details 
    